<footer class="bg-primary">
  <div class="text-center text-white">
    <%= Time.now.year %> © CS in Schools · ABN 97 662 365 120

    <% unless current_user %>
      <%= link_to "Judge Login", new_user_session_path %>
    <% end %>
  </div>
</footer>