<% heading = "About - CS in Schools Coding Competition" %>
<%= content_for :title, heading%>
<h1>About</h1>

<p>
  <a href="https://csinschools.com">CS in Schools</a> is a philanthropic initiative that is creating sustainable change in Australian digital technology education. We help schools create relevant and meaningful education by building industry connections with schools, providing a complete DigiTech pathway for all secondary students, and developing teacher confidence to teach digital technology.
</p>

<p>CS in Schools is recognising outstanding work by students in its 2021 programmes. Submissions are invited throughout 2021 and the prize winners will be announced at the CS in Schools Awards Night in late November or early December 2021. All authors of shortlisted assignments will be invited to the event.</p>

<p>Prizes will be announced soon -- please stay tuned. Students, teachers, and schools will be awarded prizes, and there will be a runner-up in each category:</p>

<ul>
<li>Best overall capstone coding assignment at CS in Schools
<li>Best introductory capstone assignment (from the Introduction to Coding course at year7.io)
<li>Best intermediate capstone assignment (from the Intermediate Coding course at year8.io)
<li>Best industry group project (from the Industry Project I course at year9.io)
</ul>

<p>Only final capstone assignments should be submitted. For the Introduction to Coding course, this is a text adventure game. For the Intermediate Coding course, this is a chatbot or combat simulator game. For the Industry Project course, this is a completed Carsales or Domain group project.</p>

<p>Entries are only accepted from teachers who have taught the CS in Schools programme in Australia in 2021. Teachers may submit one assignment per class that they teach. For example, if a teacher teaches two Introduction to Coding classes in Term 1 and one Intermediate Coding class in Term 3, they may submit three assignments, one from each class that they teach.</p>

<p>Submissions should include only a student's first name (or group name) and the teacher's email address. By submitting, teachers warrant that there is no personally identifiable information included in any student assignment.</p>

<p>Only students who have completed CS in Schools' Introduction to Coding, Intermediate Coding, or Industry Project I courses in 2021 are eligible to enter.</p>

<p>Reach out to Zach with any questions.</p>