<% heading = "About - CS in Schools Coding Competition" %>
<%= content_for :title, heading %>
<h1>About</h1>

<p>
  <a href="https://csinschools.com">CS in Schools</a> is a philanthropic initiative that is creating sustainable change in Australian digital technology education. We help schools create relevant and meaningful education by building industry connections with schools, providing a complete DigiTech pathway for all secondary students, and developing teacher confidence to teach digital technology.
</p>

<p>Are you an Australian secondary school looking to partake in our FREE course materials and training, or a technology professional looking to volunteer with us?  Please reach out to hello@csinschools.com ! We'd love to hear from you.</p>