<%= content_for :title, "2021 Coding Competition Entries - CS in Schools Coding Competition" %>

<h1>2021 Coding Competition Entries</h1>

<br/>

<%= render partial: "entries", locals: { entries: @entries } %>