<% heading = "Examples from previous years - CS in Schools Coding Competition" %>
<%= content_for :title, heading %>

<h1>Examples from previous years</h1>

<h1></h1>
<br/>

<%= render partial: "entries", locals: { entries: @entries } %>