<h1>CS in Schools Coding Competition</h1>

<p>CS in Schools is now accepting entries for the 2022 coding prizes. </p>
<p>Entries close <b style="color: #FF0000;">Friday 5pm 11th November, 2022</b>.  </p>
<p>Show off your awesome coding assignments and be in the running to win a <b style="color: #FF3D00;">Nintendo Switch</b>!</p>

<h2>Competition details</h2>
<ul>
  <li>Only teachers can submit entries.</li>
  <li>Entries accepted for the following courses:</li>
  <ul>
    <li>Introduction to Coding</li>
    <li>Intermediate Coding</li>
  </ul>
  <li>1 Nintendo Switch to be awarded for the winning entry in each of the courses above.</li>
  <li>1 entry per class per teacher (e.g. if a teacher teaches 2 introduction to coding classes, and 1 intermediate class, they can submit a total of 3 entries: 1 for each of the 3 classes).</li>
  <li>Entries will be assessed by CS in Schools based on game design, usability and quality of Python code.</li>
  <li>Judges' decision are final.</li>
</ul>
<p>We look forward to checking out your entries and playing your games!</p>
<p>Please reach out to support@csinschools.com if you have further questions.</p>
<p><%= link_to "Enter here", new_submission_path %> and learn more about us <a href="/about">here</a>.</p>

