<h1>CS in Schools Coding Competition - Education Perfect</h1>

<p>CS in Schools is now accepting entries for the 2022 coding prizes. Prizes will be awarded for exceptional student work in the following categories:</p>

<ul>
  <li>Best introductory capstone assignment</li>
  <li>Best intermediate capstone assignment</li>
</ul>

<p>There will be a prize for the best submission in the introductory and intermediate course categories. The winning students will each be awarded prizes.</p>

<p>Learn more at the <a href="/about">about page</a> and <%= link_to "enter here", new_submission_path %>.</p>

