<h1>CS in Schools Coding Competition - Education Perfect</h1>

<p>CS in Schools is now accepting entries for the 2022 coding prize. </p>
<p>
<p>Prizes will be awarded for exceptional student work in the following category:</p>

<ul>
  <li>Best "Introduction to Coding" final assignment</li>
</ul>

<p>There will be 1 prize for the best submission in the category. The prize will be awarded to the winning student.</p>

<p>Learn more at the <a href="/about">about page</a> and <%= link_to "enter here", new_submission_path %>.</p>

