<% heading = "Thank you for your entry!" %>
<%= content_for :title, heading %>
<h1><%= heading %></h1>

<p>Thank you for submitting your student's work for the 2021 CS in Schools coding competition</p>

<p>Winners will be announced in late November or early December and shortlisted entrants will be invited to the CS in Schools awards night.</p>

<p>We will review your entry over the next few days. If accepted as an entry, you will receive an email and you will be able to see the entry on the <a href="/entries">Entries</a> page. If there is a problem with your entry, we will email you at <strong><%= @submission.submitter_email %></strong> to discuss your entry.</p>