<% heading = "🎉 Thank you for your entry! 🎉" %>
<%= content_for :title, heading %>
<h1><%= heading %></h1>

<p>Good luck!  Thank you so much for taking the time to create this game and enter it in to this comp!</p>

<p>We'll review your entry soon so should hear back from us in the next couple of days.</p>

<p>If your submission is successful, it should appear on theis site and we'll email you at <%= @submission.submitter_email %>.</p>

<p>If we have a problem, we'll email you at <%= @submission.submitter_email %> for more info.</p>