<% heading = "Thank you for your entry!" %>
<%= content_for :title, heading %>
<h1><%= heading %></h1>

<p>Thank you for submitting your student's work for the 2023 CS in Schools coding competition</p>

<p>We will review your entry shortly and contact you on at <strong><%= @submission.submitter_email %></strong> with any additional updates.</p>