<p>There's been a new submission!</p>
<h2><%= link_to @submission.name, edit_submission_url(@submission) %></h2>
<p>By <strong><%= @submission.author %></strong> from <strong><%= @submission.school %></strong></p>
<p>Submitted by <strong><%= @submission.submitter_email %></strong></p>